.env

.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

*.mp4
*.mov
*/venv/
*/.env/

# Generated ML files
day-11/faiss_index/
day-11/models/
day-9/chromadb_books/
chroma_data/
uploaded_files/

.DS_Store
Thumbs.db
*.log

.cache/
dist/
build/