# Generic Python & Environment
.env
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.mp4
*.mov
*/.env/
*/venv/
**/*venv/

# Updated Project Structure (Covers week-1, week-2, ..., week-n)
week-*/day-*/faiss_index/
week-*/day-*/models/
week-*/day-*/chromadb_books/

# Generic Data & Build Folders
chroma_data/
uploaded_files/
.DS_Store
Thumbs.db
*.log
.cache/
dist/
build/